body {
	font-family: "Avenir";
	width: 350px;
	height: 350px;
	margin: 0;
}

#title {
	padding: 20px 0px 20px;
	font-family: "Tahoma";
	letter-spacing: 1px;
}

.head {
	background-color: #25CD99;
	padding: 5px 0px 3px 20px;
	color: white;
	font-size: 23px;
	box-shadow: 0px 2px 2px #d0d8d5;
}

.logo {
	width: 55px;
	height: 55px;
	display: inline-block;
	padding-right: 25px;
	padding-top: 3px;
}

span {
	display:inline-block;
	padding-top: 20px;
	font-weight: bold;
	font-size: 16px;
}

.body {
	margin-left: 20px;
}

p {
	font-size: 14px;
}

input[type=text] {
	width: 230px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #d0d8d5;
	font-size: 14px;
	text-align: left;
	padding:2px 0px 2px 10px;
}

input[type=text]:focus {
	outline: none;
}

button {
	height: 28px;
	width: 30px;
	font-size: 18px;
	border-radius: 2px;
	border: none;
	color: white;
	background-color: #d0d8d5;
}

button:hover {
	background-color:#25CD99;
	outline: none;
	transition: .4s;
}

button:focus {
	outline: none;
}

button:active {
	background-color: black;
}

.button {
	font-size: 13px;
	padding: 7px 10px 7px 10px;
	background-color: #d0d8d5;
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 260px;
	margin-top: 20px;
}

.button:hover {
	padding: 7px 13px 7px 13px;
	transition: 0.5s;
	background-color: black;
	color: white;
}


