body {
	font-family: "Avenir";
	width: 375px;
	height: 400px;
	margin: 0;
}

#title {
	padding: 20px 0px 20px;
	font-family: "Tahoma";
	letter-spacing: 1px;
}

.head {
	background-color: #25CD99;
	padding: 5px 0px 3px 20px;
	color: white;
	font-size: 23px;
	box-shadow: 0px 2px 2px #d0d8d5;
}

.logo {
	width: 55px;
	height: 55px;
	display: inline-block;
	padding-right: 25px;
	padding-top: 3px;
}

.inputsDiv {
	color: black;
	padding-left: 20px;
	font-size: 14px;
}

.inputs {
	padding-left: 100px;
}

h4 {
	padding-left: 6px;
	word-spacing: 26px;
	color: #8f9b95;
}

input[type=text] {
	width: 60px;
	height: 60px;
	border-radius: 3px;
	border: 1px solid #d0d8d5;
	font-size: 36px;
	text-align: center;
}

input[type=text]:focus {
	outline: none;
}


.button {
	font-size: 13px;
	padding: 7px 10px 7px 10px;
	background-color: #d0d8d5;
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
	margin-left: 230px;
	text-decoration: none;
	color: black;
	width: 80px;
	font-weight: bold;
}

.button:hover {
	padding: 7px 13px 7px 13px;
	transition: 0.5s;
	background-color: black;
	color: white;
}


span {
	display:inline-block;
	padding-top: 20px;
	font-weight: bold;
	font-size: 16px;
}

.text {
	padding-left: 122px;
	padding-bottom: 20px;
}

.bottom {
	margin: 20px;

}

hr
{
	margin-top: 20px;
}

#lets {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

#lets:hover {
	color: white;
}



